########## JETBRAINS (RIDER / WEBSTORM) ##########
.idea/
*.iml

########## .NET / C# ##########
# Compiled binaries
bin/
obj/
out/
[Bb]uild/
[Bb]in/
[Oo]bj/

# User-specific files
*.user
*.userosscache
*.sln.docstates

# Visual Studio / Nuget / package cache
.vs/
*.pidb
*.svclog
*.scc
packages/
*.nupkg

# Logs
*.log

########## NODE / REACT / VITE ##########
node_modules/
dist/
build/

# Vite cache
vite.config.timestamp-*
.vite/

# Dependencies / lock / temporary
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

########## ENV / CONFIG SENSIVEL ##########
.env
.env.*.local
*.secret
*.key

########## SISTEMA OPERACIONAL ##########
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Linux
*~
